@{
    ViewBag.Title = "About";
}
<h2></h2>
<h3>@ViewBag.Message</h3>

<p>Do you work at a large company? Have you ever wondered, "How can I get to know all of my colleagues?" Welcome to the original profile matching application, where you can network with employees you might not know in your organization based on mutual interests. Select a desired cuisine, and this app will also give you and your match a list of suggested restaurants near your organization.</p>
