@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Start Garden
    40 Pearl St NW #200<br />
    Grand Rapids, MI 49503<br />
    <abbr title="Email">E:</abbr>
    hello@startgarden.com
</address>

<address>
    <strong>Brianna Marshall:</strong>   <a href="mailto:brianna.yael@gmail.com">brianna.yael@gmail.com</a><br />
    <strong>Jonaca Hudson:</strong> <a href="mailto:Marketing@example.com">jonacalhudson@gmail.com</a>
    <strong>Lauren Babcock:</strong>   <a href="mailto:Support@example.com">laurenbabcock5@gmail.com</a><br />
    <strong>Molly Guthrie:</strong> <a href="mailto:Marketing@example.com">mollyguthrie@gmail.com</a>
</address>