
@{
    ViewBag.Title = "CreateProfile";
}

<h2>CreateProfile</h2>

<form id="form" name="form" method="post" action="MyProfile">
    <p>
        <label for="EmployeeName">Name</label>
        <input type="text" name="EmployeeName" id="name" />
        <label for="CompanyName"> Company</label>
        <select name="CompanyID" id="company">
            <option value="1">Steelcase</option>
            <option value="2">Herman Miller</option>
            <option value="3">Amway</option>
            <option value="4">Spectrum Health</option>
        </select>
    </p>
    <p>
        <label for="Position">Position</label>
        <input type="text" name="Position" id="position" />
    </p>
    <p>
        <label for="EmployeeEmail">Email</label>
        <input type="text" name="EmployeeEmail" id="Email" />
    </p>
    <p>
        <label>
            Interests (Choose 1)<br />
            <input type="radio" name="Interest1" value="Music" id="Interests" />
            Music
        </label>
        <br />
        <label>
            <input type="radio" name="Interest1" value="Cooking" id="Interests" />
            Cooking
        </label>
        <br />
        <label>
            <input type="radio" name="Interest1" value="Technology" id="Interests" />
            Tech
        </label>
        <br />
        <label>
            <input type="radio" name="Interest1" value="Outdoors" id="Interests" />
            Outdoors
        </label>
        <br />
        <label>
            <input type="radio" name="Interest1" value="Sports" id="Interests" />
            Sports
        </label>
    </p>
    <div class="cuisine">
        <p>
            <label>
                Cuisine (Choose 1)<br />
                <input type="radio" name="Cuisine1" value="Ethiopian" id="Cuisine" />
                Ethiopian
            </label>
            <br />
            <label>
                <input type="radio" name="Cuisine1" value="Mediterranean" id="Cuisine" />
                Mediterranean
            </label>
            <br />
            <label>
                <input type="radio" name="Cuisine1" value="Mexican" id="Cuisine" />
                Mexican
            </label>
            <br />
            <label>
                <input type="radio" name="Cuisine1" value="Italian" id="Cuisine" />
                Italian
            </label>
            <br />
            <label>
                <input type="radio" name="Cuisine1" value="Chinese" id="Cuisine" />
                Chinese
            </label>
            <br />
            <br />
            <input type="submit" value="Submit">
        </p>
    </div>
</form>