
<body>
    <h3>Please enter your email address to view your profile:</h3>
    <form id="form" name="form" method="post" action="MyProfile">
        <p>
            <label for="EmployeeEmail">Email</label>
            <input type="text" name="userEmail" id="email" />
            <input type="submit" value="Submit">
    </form>
</body>
