@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Midday Mingle!</h1>
    <p class="lead">Midday Mingle helps medium to large-sized companies with employee networking by providing lunch opportunities for employees to connect.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign up! &raquo;</a></p>
</div>

