
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form id="form" name="form" method="post" action="ViewMyProfile">
    <p>Enter your email: </p>
    <input type="text" name="userEmail" id="name" />
    <input type="submit" value="Submit">
 </form>
</br>
<center>
    <a href="http://azuremiddaymingle.azurewebsites.net/Home/About">About |</a>
    <a href="http://azuremiddaymingle.azurewebsites.net/Home/CreateProfile">Create Profile |</a>
    <a href="http://azuremiddaymingle.azurewebsites.net/Home/Suggestions">Suggestions</a>
</center>