@{
    ViewBag.Title = "Suggestions";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Error</h4>
<h3>@ViewBag.Message</h3>


<p>@ViewBag.SuggestedRestaurants </p>

@* Random generator for opposite matches. To generate different matches instead of same person each time. *@